.container {
    padding: calc(4px * 8) !important;
    background: #1670b7;
    .searchBox {
      padding: 0 calc(4px * 4);
    }
  }
  .card {
    background: #eece6a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(4px * 2);
  }
 
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  input[type='text']{
    padding: 8px;
    width: 100%;
  }