  .airport{
    background-color: #f2817f!important;
    min-width: 50px;
    margin: 2px 10px 0 0;
    padding: 3px 5px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    align-self: center;
  }
  .popular{
    background-color: #ffffff;
    border: 1px solid #00874d;
    color: #00874d;
    float: right;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 5px;
    align-self: center;
    min-width: 50px;
    margin: 2px 10px 0 0;
    padding: 3px 5px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
  }
  .city{
    background-color: #6eb8fa;
    min-width: 50px;
    margin: 2px 10px 0 0;
    padding: 3px 5px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    align-self: center;
  }
  .train{
    background-color: #9d9dbb;
    min-width: 50px;
    margin: 2px 10px 0 0;
    padding: 3px 5px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold
  }
.container {
    padding: calc(4px * 8) !important;
    background: #1670b7;
    .searchBox {
      padding: 0 calc(4px * 4);
    }
  }
  .card {
    background: #eece6a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(4px * 2);
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  input[type='text']{
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
  }
  ul.auto-gen-list{
    list-style: none;
    width:100%;
  }
  li{
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
  a{
    div{
      border: 1px solid red;
    }
  }
}
  a:hover{
    background-color: #dff6ff;
  }
  .location{
    color: black;
    flex-grow: 1;
    text-align: left;
  }
  .geographic{
    font-weight: 400;
    color: gray;
    display: block;
    font-size: 85%;
  }
  h1{
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    text-shadow: none;
    padding-bottom: 10px;
  }
  label{
    font-size: .875em;
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
  }
  .loader{
    height: auto;
    width: 24px;
    right: 5px;
    position: absolute;
    background: url('../assets/loader.gif') no-repeat center right #fff;
    box-sizing: border-box;
  }
  .form-control{
    width: 100%;
    position: relative;
  }